<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Landing</title>
	<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/style.css') }} ">
</head>
<body>

	<br>
	
	<img src=" {{ url_for('static', filename='media/skipp_print_big.png') }} ">

	<div class="button-container">
		<a href="/login"><button class="active-button button-skp">Login</button></a>
		<a href="https://vidbuy.vercel.app/signup"><button class="button-skp">Sign Up &UpperRightArrow;</button></a>
	</div>

</body>
</html>